@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

.app {
  font-family: 'Cabin';
  margin: 20px;
}

/* flex */

.row {
  display: flex;
  flex-direction: row;
}

.flex1 { flex: 1; }

.alignItemsCenter { align-items: center; }

/* margins */

.smallMarginRight {
  margin-right: 8px;
}

.noMargin{ margin: 0; }

/* buttons */

button { 
  outline: none; 
  font-family: 'Cabin';
}

.button {
  background: #64c7f5;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  color: #3b7d9c;
  justify-content: center;
  align-items: center;
}

.link {
  background: #3b7d9c;
  padding: 10px;
  margin-bottom: 10px;  
}

.link a {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

.backBtn {
  flex-direction: row;
  background: #3b7d9c;
  border-radius: 10px;
  padding: 0px 10px;
  height: 100%;
}

.backBtn a {
  color: #fff;
  text-decoration: none;
}

/* inputs */

input {
  outline: none;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #dbdbdb;
  padding: 5px;
}

.matrixCell {
  width: 35px;
  height: 35px;
  text-align: center;
}